.wrapper{
  background-color: #F5F5F5;
  min-height: 100vh;
  padding: 0 0 80px 0;
  .content{
    padding: 30px 0 50px;
    .container{
     .text{
       h1{
         font-family: 'Oswald-Regular';
         font-size: 40px;
         line-height: 50px;
         display: grid;
         grid-template-columns: 10fr;
       }
       p{
         font-size: 20px;
         line-height: 30px;
         display: grid;
         margin: 25px 0 20px;
       }
       ul{
         li{
           position: relative;
           margin: 3px 0;
           padding: 0 0 0 21px;
           font-size: 18px;
           &:before{
             font-family: 'fontello';
             position: absolute;
             left: 0;
             content: '\e801';
             font-size: 8px;
             top: 50%;
             transform: translate(0px, -50%);
           }
           &:first-child{
             padding: 0;
             margin: 0 0 13px 0;
             &:before{
               display: none;
             }
           }
           h4{
             font-size: 18px;
             font-family: 'PTSerif-Bold';
           }
         }
       }
     }
      .slider_box{
        margin: 58px 0px 0 0;

        h5{
          color: #EB3C00;
          font-family: 'Oswald-Regular';
          font-size: 14px;
          text-transform: uppercase;
        }
        .slick-dots{
          position: absolute;
          bottom: 0;
          display: flex;
          left: 50%;
          transform: translate(-50%, -30px);

          li{
            width: 5px;
            height: 5px;
            background-color: rgba(40, 40, 40, 1);
            border-radius: 50%;
            border: none;
            margin: 0 8px;
            cursor: pointer;

            button{
              display: none;

            }
            &.slick-active{
              width: 5px;
              height: 5px;
              background-color: rgba(235, 60, 0, 1);
              border-radius: 50%;
              border: none;
            }

          }

        }
        .slider{
          padding: 20px 0 20px 0;

          .slick-track{
            &:before{
              display: none;
            }
            &:after{
              display: none;
            }
          }
          .slide{
            width: 172px;
            margin: 0 auto;
            img{
              width: 100%;
              height: 115px;
            }
            p{
              font-family: 'Oswald-Light';
              font-size: 18px;
              color: #282828;
              line-height: 21px;
              display: block;
              margin: 7px 0 35px;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1280px){
  .wrapper{
    padding: 0 0 80px 0;
    .content{
      padding: 50px 0 80px;
      .container{
       .text{
         h1{
           font-size: 50px;
           line-height: 58px;
           display: grid;
           grid-template-columns: 2fr 1fr;
         }
         p{
           font-size: 24px;
           display: grid;
           grid-template-columns: 3fr 1fr;
           margin: 47px 0 35px 0;
           line-height: 35px;
         }
         ul{
           li{

             margin: 3px 0;
             padding: 0 0 0 21px;
             font-size: 18px;
             &:first-child{
               padding: 0;
               margin: 0 0 13px 0;
               &:before{

               }
             }
             h4{
               font-size: 18px;

             }
           }
         }
       }
        .slider_box{
          margin: 58px 0px 0 0;
          h5{
            font-size: 14px;
          }
          .slider{
            padding: 20px 0 20px 0;
            .slick-track{
              &:before{
                display: none;
              }
              &:after{
                display: none;
              }
            }
            .slide{
              width: 172px;
              img{
                width: 100%;
                height: 115px;
              }
              p{
                font-size: 18px;
                line-height: 21px;
                margin: 7px 0 35px;
              }
            }
          }
        }
      }
    }
  }
}