<header class="header" id="anchor">
    <div class="top_header">
        <div class="container">
            <a href="index.html" class="logo"><strong>Sitename</strong><span>my first web page</span></a>
            <div class="btn_block">
                <a href="javascript:void(0);"class="login_form"><i class="icon-key-2"></i> Login</a>
                <a href="javascript:void(0);"class="account_form">contact me</a>
            </div>
        </div>
    </div>
    <div class="bottom_header">
        <div class="container">
            <div class="overlay">
                <nav class="overlayMenu">
                    <ul role="menu" class="menu">
                        <li><a href="index.html" class="active">home</a></li>
                        <li><a href="javascript:void(0);">about</a></li>
                        <li><a href="javascript:void(0);">news</a></li>
                        <li><a href="javascript:void(0);">portfolio</a></li>
                        <li><a href="javascript:void(0);">blog</a></li>
                    </ul>
                    <div class="search">
                        <div class="input">
                            <input type="text" placeholder="Search">
                        </div>
                    </div>
                </nav>
            </div>
            <div class="navBurger" role="navigation" id="navToggle"></div>
        </div>
    </div>
</header>